<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<base href="/">
	<title>Angular Material</title>
	<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
	<link rel="stylesheet" href="styles.css">
	<link href="hover.css" rel="stylesheet" media="all">
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.7.1/angular-material-icons.min.js"></script> 
	<script src="angular-route.js"></script>
	<script type="text/javascript" src="script.js"></script>
</head>
<body>
	<div layout="column" ng-cloak="" ng-app="materialApp" class="mainDiv">
		<div class="toolbardemoBasicUsage" ng-controller="AppCtrl" layout="row">
			<md-toolbar class="md-hue-2 header-shadow">
		      	<div class="md-toolbar-tools">
		        	<md-button class="md-icon-button" aria-label="Settings" ng-disabled="">
		          		<md-icon md-svg-icon="img/icons/logo.svg"></md-icon>
		        	</md-button>
			        <h2>
			         	<span>The Web Show</span>
			        </h2>
			        <span flex=""></span>
			        <md-button class="md-icon-button" aria-label="Favorite" class="md-raised">
			          	<md-icon md-svg-icon="img/icons/favorite.svg" style="color: greenyellow;"></md-icon>
			        </md-button>
			        <md-button class="md-icon-button" aria-label="More">
			          	<md-icon md-svg-icon="img/icons/more_vert.svg"></md-icon>
			        </md-button>
		     	</div>
		    </md-toolbar>	
		</div>
		<div class="sidenavdemoBasicUsage" ng-controller="SideNavCtrl" layout="row">
			<md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-disable-backdrop="" md-whiteframe="4" layout="column" flex>
				<md-list layout="column">
			      	<md-subheader class="md-no-sticky textCenter firstHeader">Show</md-subheader>
			      	<md-list-item>
			        	<md-button class="md-raised md-primary buttoncolordefault" ng-class="movie" value="movie" ng-click="btnSelected($event)">Movies</md-button>
			      	</md-list-item>
			      	<md-list-item>
			        	<md-button class="md-raised md-primary buttoncolordefault" ng-class="tvShow" value="tv" ng-click="btnSelected($event)">TV Shows</md-button>
			      	</md-list-item>
			      	<md-list-item>
			        	<md-button class="md-raised md-primary buttoncolordefault" ng-class="person" value="person" ng-click="btnSelected($event)">People</md-button>
			      	</md-list-item>
			      	<md-subheader class="md-no-sticky textCenter secondHeader">Show Results By</md-subheader>
			      	<md-list-item>
			        	<md-button class="md-raised md-primary buttoncolordefault" ng-class="popular" value="popular" ng-click="categorySelected($event)">Popular</md-button>
			      	</md-list-item>
			      	<md-list-item>
			        	<md-button class="md-raised md-primary buttoncolordefault" ng-class="topRated" value="top_rated" ng-click="categorySelected($event)" ng-disabled="select==='person'">Top Rated</md-button>
			      	</md-list-item>
			      	<md-subheader class="md-no-sticky textCenter thirdHeader">Follow Us</md-subheader>
			      	<md-list-item flex layout="row">
			        	<md-button flex="33" class="md-icon-button" aria-label="Settings" ng-disabled="">
		          			<ng-md-icon icon="facebook-box" style="fill:#3b5998"></ng-md-icon>
		        		</md-button>
		        		<md-button flex="33" class="md-icon-button" aria-label="Settings" ng-disabled="">
		          			<ng-md-icon icon="twitter" style="fill:#55acee"></ng-md-icon>
		        		</md-button>
		        		<md-button flex="33" class="md-icon-button" aria-label="Settings" ng-disabled="">
		          			<ng-md-icon icon="google-plus-box" style="fill:#dd4b39"></ng-md-icon>
		        		</md-button>
			      	</md-list-item>
			 	</md-list>
			 	<md-divider></md-divider>
		 		<div id="license-footer" flex class="ng-binding textCenter">
		          	<span>©2016</span><br>
		          	<span>Code licensed under the</span><br>	<a href="./license">MIT License</a>.
		          	Documentation licensed <br>under
		          	<a href="http://creativecommons.org/licenses/by/4.0/" target="_blank">CC BY 4.0</a>.
		        </div>
			</md-sidenav>
			
			<div flex layout="column" ng-view class="mainClass">
				
			</div>
		</div>
	</div>
	<!-- https://api.themoviedb.org/3/movie/550?api_key=dcb9184c0fa834e428249a41f467c635 -->
</body>
</html>